@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">


 
@await Component.InvokeAsync("_FeaturePartial")

@await Component.InvokeAsync("_AboutGridPartial")
   
@await Component.InvokeAsync("_AboutPartial")
    
@await Component.InvokeAsync("_StatisticsPartial")
   
@await Component.InvokeAsync("_CoursePartial")
   
<section class="w3l-testimonials" id="testimonials">
    
@await Component.InvokeAsync("_ReferencePartial")   
 
</section>
 
@await Html.PartialAsync("~/Views/Default/AddSubscriber.cshtml")
    


</html>