
@{
    Layout = null;
}

@await Component.InvokeAsync("_HeadPartial")
<body>
@await Component.InvokeAsync("_NavbarPartial")

@RenderBody()

@await Component.InvokeAsync("_FooterPartial")

@await Component.InvokeAsync("_ScriptPartial")
</body>
