
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">


    <!--/header-->
    <!-- breadcrumb -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="title AboutPageBanner">
                            Hakkımızda
                        </h2>
                        <p class="inner-page-para mt-2">
                            Her Zaman, Her Yerde Öğrenmeniz İçin Sizinleyiz.
                            Geleceğinizi Doğru Planlayalım.
                        </p>
                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="index.html">Ana Sayfa</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Hakkımızda</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//breadcrumb-->
    <!--/w3l-aboutblock1-->
    <section class="w3l-aboutblock1" id="about">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="row">
                    <div class="col-lg-8 left-wthree-img pr-lg-5">
                        <h5 class="title-subw3hny mb-1">Hakkımızda</h5>
                        <h3 class="title-w3l">
                            Öğrenme yoluyla yaşamları iyileştirmek için varız.
                            Her zaman çevremizdeki insanlardan ve dünyadan ilham alıyoruz.
                        </h3>
                    </div>
                    <div class="col-lg-4 mt-lg-0 mt-5 about-right-faq align-self">

                        <p class="">
                            Bir değişim, bize gelişme fırsatını sağlayacak olan bir sonraki değişime yol açar.<br />
                                W.B.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-aboutblock1-->
    <!-- features-section -->
    <section class="w3l-features py-5" id="work">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row main-cont-wthree-2 align-items-center">
                <div class="col-lg-6 feature-grid-left pr-lg-5">
                    <h5 class="title-subw3hny">Neden Bizi Seçmelisiniz?</h5>
                    <h3 class="title-w3l mb-4">
                        Misyonumuz Dünya Standartlarında Bir Eğitim Sunmaktır. 
                    </h3>
                    <p class="text-para">
                        Öğrencilerimize onlarca kategoriden kurslar ile hizmet vermeye devam ediyoruz.
                        Alanında uzman eğitmenlerin hazırladığı kurslarımız sizleri bekliyor.
                        Yüzlerce kişiye ulaşan öğrenci sayımızla her gün artan ders içeriklerimize erişmek ve başarıya ulaşmak için bizimle iletişime geçebilirsiniz.
                    </p>
                    <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4">
                        Devamını
                     Oku</a>
                </div>
                <div class="col-lg-6 feature-grid-right mt-lg-0 mt-5 pl-lg-5">
                    <div class="call-grids-w3 d-grid">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-microscope"></i>
                            </div>
                            <h4><a href="about.html" class="title-head">Grup Seminerleri</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <h4><a href="about.html" class="title-head">Popüler Kurslar</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-school"></i>
                            </div>
                            <h4><a href="about.html" class="title-head">Geniş Kütüphane</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <h4><a href="about.html" class="title-head">Uzman Eğitmenler</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features section -->
    <!--/team-sec-->
    @await Component.InvokeAsync("_TeacherPartial")
  
    <!--//team-sec-->
    <!--/progress-->
    @await Component.InvokeAsync("_ProgressPartial")
    <!--//progress-->
    <!--/w3l-project-->
    <section class="w3l-join-main py-5">
        <div class="container py-md-5 py-2">
            <div class="w3l-project-in">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="bottom-info">
                            <div class="header-section pr-lg-5">
                                <h5 class="title-subw3hny mb-3">Bize Katılın</h5>
                                <h3 class="title-w3l mb-3">
                                    Katılmak İster misiniz?
                                </h3>
                                <p>
                                    Siz de uzman kadromuza katılmak ister misiniz? Bizimle iletişime geçebilirsiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 align-self mt-lg-0 mt-sm-5 mt-4">
                        <div class="d-sm-flex justify-content-end">
                            <a href="#" class="btn btn-primary btn-style mr-sm-2">  Eğitmen Ol</a>
                            <a href="/Contact/Contacts/" class="btn btn-secondary btn-style"> İletişime Geç </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-project-->
    <!--/footer-->
    
   

</html>